<h3> Member Login </h3>
<p> show a login form </p>

<%= link_to 'Login as Student', student_home_path  %> <br />
<%= link_to 'Login as Assessor', assessor_home_path %> <br />
<%= link_to 'Service Provider', provider_dashboard_path %> <br //>
<%= link_to 'Admin',  admin_dashboard_path %> <br />
<%= link_to 'Super Admin', superadmin_dashboard_path %>

